{% extends 'seller-dashboard.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load indian_numbers_tags %}
  <title>{% block title %}View Complaints - Eiser{% endblock %}</title>
</head>

<body>
  {% block body %}
  <!--================Home Banner Area =================-->
  <section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content d-md-flex justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
            <h2>Complaints</h2>
            <p>View complaints of your delivered products here.</p>
          </div>
          <div class="page_link">
            <a href="/seller_dashboard/">Dashboard</a>
            <a href="/view_complaints/">View Complaints</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->
  <section class="cart_area">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Sl No.</th>
                    <th scope="col">Product</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Date Posted</th>
                    <th scope="col">Complaint</th>
                    </tr>
                </thead>
                <tbody>
                    {% for complaint in complaints %}
                    <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ complaint.order.product.name }}</td>
                    <td>{{ complaint.user.name }}</td>
                    <td>{{ complaint.date|date:"d-m-Y H:i" }}</td>
                    <td>{{ complaint.complaint }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                    <td colspan="6" class="text-center">No complaints yet.</td>
                    </tr>
                    <tr><td colspan="6"></td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </section>      
  {% endblock %}
</body>

</html>
